@import "tailwindcss";

:root {
  --color-mirage: #141627;
  --color-dark: #1C1F36;
  --color-meteorite: #3B3270;
  --color-dodger-blue: #4177F4;
  --color-mist-blue: #646887;
  --color-moonraker: #D0D3E7;
}

@theme inline {
  --color-background: var(--color-mirage);
  --color-foreground: var(--color-moonraker);
  --color-mirage: var(--color-mirage);
  --color-dark: var(--color-dark);
  --color-meteorite: var(--color-meteorite);
  --color-dodger-blue: var(--color-dodger-blue);
  --color-mist-blue: var(--color-mist-blue);
  --color-moonraker: var(--color-moonraker);
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--color-mirage);
  color: var(--color-moonraker);
  font-family: Arial, Helvetica, sans-serif;
}
